{% extends "base.html" %} {% block title %}Server{% endblock %} {% block content
    %}
    <br/>
    <form method="POST">
        <h3 align="center">Scripty Server</h3>
        <div class="server">
            <div class="col text-center">
                <button type="submit" class="btn btn-primary">Start</button>
            </div>
        </div>
        <br/>
    </form>
    <div align="center">
        <h5 align="center">Logs</h5>
        <textarea class='logs' id="logs" name="w3review" rows="10" cols="100">
           
        </textarea>
    </div>
    <form method="GET">
            <div class="col text-center">
                <button type="submit" class="btn btn-danger">Stop</button>
            </div>          
    </form>
    
    


{% endblock %}